body {
  margin: 0px; 
  padding: 0px; 
  background-color: #dfeac1; 
  text-align: center;
}

.logo {
  position:relative;
  top:-8px;
  left:22px;
  float:left;
}

.headerText
{
	color: White;
	left: 350px;
	top: 50px;
	font-family: Verdana;
	font-size: 150%;
	font-weight: bold;
	position: absolute;
}

fieldset {
	border: 1px solid #CCA383;
	width: 60%;
	background: LightGoldenrodYellow;
	padding: 3px;
	padding-bottom: 10px;
}

fieldset legend {
	background: PaleGoldenrod;
	padding: 6px;
	font-weight: bold;
}

.formLabelCell
{
	text-align: left;
	padding-left: 10px;
	padding-right: 30px;
	font-weight: bold;
}

.formValueCell
{
	text-align: left;
}

.actionPanel
{
	margin: 30px;
	border: 1px solid #CCA383;
	width: 50%;
	background: LightGoldenrodYellow;
	text-align: center;
	padding: 5px;
}

.actionResultWindow
{
	margin: 30px;
	border: 1px solid #CCA383;
	width: 90%;
	background: LightGoldenrodYellow;
	text-align: left;
	padding: 5px;
}

#headerCell 
{
	background: url(../img/header-spring.png);
	height: 150px;
	width: 719px;
}

#contentCell
{
	background-image: url(../img/bg-spring.png);
	text-align: left;
	vertical-align: top;
}

#footerCell
{
	background-image: url(../img/footern.gif);
	text-align: center;
	height: 29px;
}

.datagrid 
{
	border: solid 1px Tan; 
	margin-left: 10px;
	width: 95%;
}

.datagrid-header
{
    font-weight: bold;
    background-color: Tan;
}

.datagid-item
{
    background-color: LightGoldenrodYellow;
}

.datagrid-alt-item
{
    background-color: PaleGoldenrod;
}

.datagrid-footer
{
    font-weight: bold;
    background-color: Tan;
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 14px;
  font-weight: normal;
  color: #90A720;
}
a, a:active, a:visited {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
}
a:hover {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #000000;
}
b {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  font-weight: bold;
  color: #606060;
}
i {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
}

table {
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
}
.news {
  border: 1px solid;
  border-color: #C9C9C9;
  padding: 12px;
  font-family: Verdana, Arial, Helvetica, sans;
  font-size: 12px;
  color: #606060;
  background-color: #F5F5F5;
  margin-top: 20px;
  margin-bottom: 20px;
}

li {
  margin-bottom: 12px;
}

ul {
  margin-left: 25px;
  margin-top: 10px;
}

.noPaddingUl li {
    margin-bottom: 0px;
}
